body {
  background-image: url("https://i.ytimg.com/vi/BJsvSh7ZUgc/maxresdefault.jpg");
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
}

#portBody {
  background-color: transparent;
  border: none;
}

/* body {
  background-image: url("https://skywell.software/wp-content/uploads/2018/12/web-development-1024x605.jpg");
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
} */

/* @import "https://fonts.googleapis.com/css?family=Permanent+Marker";
html,
body {
  font-size: 14px;
  font-family: "Permanent Marker", cursive;
  background-image: url(https://i.ytimg.com/vi/BJsvSh7ZUgc/maxresdefault.jpg);
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
} */

a {
  text-decoration: none;
}
.wrapper {
  position: relative;
  width: 240px;
  height: 160px;

  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20vmax;
  margin-bottom: 20vmin;
  margin-left: 60px;
  perspective: 800px;
  perspective-origin: 10% -10%;
}

.bg {
  width: 150px;
  height: 166px;
  position: relative;
  background: #dd6e58;
  border-radius: 5px;
  transform: rotateY(-10deg);
  box-shadow: 20px -5px 30px rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  right: -25px;
  top: 20px;
  width: 90%;
  height: 80%;
  background: #53777a;
  border-radius: 50%;
  text-align: center;
  transform: perspective(800px) translateZ(20px);
  box-shadow: 10px -5px 20px rgba(0, 0, 0, 0.2);
}
.content p {
  position: relative;
  margin: auto;
  top: 30%;
  width: 60%;
}

div.btn-wrapper {
  position: absolute;
  top: 50px;
  left: -40px;
}

/*div.cube {
  height: 90px;
  width: 180px;
  transform: rotateY(15deg);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  font-size: 1.5em;
}
div.cube .msg {
  position: absolute;
}
div.cube .success {
  background: #5faf62;
  display: none;
}
div.cube .fail {
  background: #c02942;
  display: block;
}
div.cube.show-success .back {
  background: #5faf62;
}
div.cube.show-success .success {
  display: block;
}
div.cube.show-success .fail {
  display: none;
}

.cube-ani {
  animation: press 0.5s ease, spin 0.35s ease 0.5s, show-top 1.5s ease 0.85s;
}

.spin {
  animation: spin-up 1s ease-out 0s 1;
}

.face {
  position: absolute;
  height: 50%;
  width: 50%;
  backface-visibility: true;
  background: #d5482e;
}

.face.front {
  height: 90px;
  width: 180px !important;
  background: #d95b43;
  transform: translateZ(45px);
}

.face.back {
  height: 90px;
  width: 180px !important;
  background: #c02942;
  transform: rotateX(-180deg) translateZ(45px);
}

.face.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  transform: rotateY(90deg) translateZ(135px);
}

.left {
  transform: rotateY(-90deg) translateZ(45px);
}

.top {
  width: 180px;
  height: 90px;
  background: #dc6650;
  transform: rotateX(90deg) translateZ(45px);
}

.bottomt {
  width: 180px;
  height: 90px;
  transform: rotateX(-90deg) translateZ(45px);
}

@keyframes press {
  0% {
    transform: rotateY(15deg) translateZ(0px);
  }
  50% {
    transform: rotateY(15deg) translateZ(-25px);
  }
  100% {
    transform: rotateY(15deg) translateZ(0px);
  }
}
@keyframes spin {
  from {
    transform: rotateY(15deg) rotateX(0deg);
  }
  to {
    transform: rotateY(15deg) rotateX(360deg);
  }
}
@keyframes show-top {
  0% {
    transform: rotateY(15deg) rotateX(0deg);
  }
  20% {
    transform: rotateY(15deg) rotateX(-190deg);
  }
  25% {
    transform: rotateY(15deg) rotateX(-180deg);
  }
  80% {
    transform: rotateY(15deg) rotateX(-180deg);
  }
  100% {
    transform: rotateY(15deg) rotateX(0deg);
  }
}
@keyframes spin-up {
  0% {
    transform: translateY(70px) rotateY(0deg) scale3d(0, 0, 0);
  }
  70% {
    transform: translateY(-20px) rotateY(1024deg) scale3d(1, 1, 1);
  }
  100% {
    transform: translateY(0px) rotateY(1099deg) scale3d(1, 1, 1);
  }
} */

.wrapper .button {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #53777a;
  width: 80px;
  height: 50px;

  border-radius: 30px;
  text-shadow: 0px 5px hsla(219, 15%, 52%, 0.74),
    0px 10px 10px rgba(228, 223, 223, 0.2);
  box-shadow: 0px 0px 0px 15px hsl(27, 93%, 17%),
    0px 10px 0px 15px hsl(27, 93%, 17%), 0px 20px 20px 15px #0003;
  cursor: pointer;
  border-radius: 100px 30px 100px 30px;
}

.button p {
  margin-top: 20px;
  transform: rotate(-3deg);
}

.button:hover {
  animation: 0.8s morph ease infinite;
}

.button:hover p {
  animation: 0.8s rot ease infinite;
}

@keyframes morph {
  0% {
    border-radius: 100px 30px 100px 30px;
  }
  50% {
    border-radius: 30px 100px 30px 100px;
  }
  100% {
    border-radius: 100px 30px 100px 30px;
  }
}

@keyframes rot {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
