body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSQ1KrcmMVvHtHR4tYtcxZZS0i_1MyjYM_iQ&usqp=CAU);
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
}
