body {
  background-image: url(https://b.stripecdn.com/site-srv/assets/img/blog/posts/connect-frontend/header-background-grid-41d00e90a9df6e3a3b18a210d8f2b81667dec217.png);
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
.wrapper {
  position: relative;
  width: 240px;
  height: 160px;

  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20vmax;
  margin-bottom: 20vmin;
  margin-left: 60px;
  perspective: 800px;
  perspective-origin: 10% -10%;
}

.bg {
  border: mediumblue solid;
  width: 150px;
  height: 166px;
  position: relative;
  background: #3c3ad1;
  border-radius: 5px;
  transform: rotateY(-10deg);
  box-shadow: 20px -5px 30px rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  right: -25px;
  top: 20px;
  width: 90%;
  height: 80%;
  background: #7eb2dd;
  border-radius: 50%;
  text-align: center;
  transform: perspective(800px) translateZ(20px);
  box-shadow: 10px -5px 20px rgba(0, 0, 0, 0.2);
}
.content p {
  position: relative;
  margin: auto;
  top: 30%;
  width: 60%;
}

div.btn-wrapper {
  position: absolute;
  top: 50px;
  left: -40px;
}

.wrapper .button {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: black;
  width: 80px;
  height: 50px;

  border-radius: 30px;

  box-shadow: 0px 0px 0px 15px hsl(249, 73%, 22%),
    0px 10px 0px 15px hsl(246, 75%, 25%), 0px 20px 20px 15px #0003;
  cursor: pointer;
  border-radius: 100px 30px 100px 30px;
}

.button p {
  margin-top: 20px;
  transform: rotate(-3deg);
}

.button:hover {
  animation: 0.8s morph ease infinite;
}

.button:hover p {
  animation: 0.8s rot ease infinite;
}

@keyframes morph {
  0% {
    border-radius: 100px 30px 100px 30px;
  }
  50% {
    border-radius: 30px 100px 30px 100px;
  }
  100% {
    border-radius: 100px 30px 100px 30px;
  }
}

@keyframes rot {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
