body {
  background-image: url("https://skywell.software/wp-content/uploads/2018/12/web-development-1024x605.jpg");
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: none;
  height: 100%;
  width: 100%;
}

div.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

div.transbox {
  width: 500px;
  height: 500px;
  background-color: black;
  border: 5px solid white;
  opacity: 0.8;
  text-align: center;
}

div.transbox p {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture {
  content: url(https://i.imgur.com/5bhDRvM.jpg);
  margin: 5%;
  width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 50%;
  border: 3px solid white;
  opacity: 2;
}

.profile-name {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: -15px;
  color: white;
}

.profile-summary {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

ul.icons {
  padding-top: 15px;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding-left: 10px;
}

ul.icons li i {
  text-decoration: none;
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  color: lightgray;
  font-size: 45px;
}

ul.icons li i:hover {
  color: white;
}

#portBody {
  background-color: transparent;
  border: none;
}

#portNav {
  background-color: black;
  border: 5px solid white;
  opacity: 0.6;
  width: 100%;
}

#portNav ul li a {
  color: white;
}

#portText h2 {
  visibility: hidden;
}

#portHeader {
  background-color: none;
}

#portFooter {
  visibility: hidden;
}

      .container {
        display: flex;
        width: 400%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 100vh;
      }

      .box {
        flex: 1;
        overflow: hidden;
        transition: 0.5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        line-height: 0;
      }

      .box > a > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover;
        transition: 0.5s;
      }

      .box > span {
        font-size: 2.9vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
      }

      .box:hover {
        flex: 1 1 45%;
      }
      .box:hover > a > img {
        width: 100%;
        height: 100%;
      }
